.ticket {
    width: 300px;
    border-color: black;
    text-align: center;
}

.filters {
    margin-right: 10px;
    border-color: black;
}

.divider {
    border-color: black;
}

.list-li-style {
    list-style: none;
}